<form action="/" method="post" enctype="multipart/form-data">
    <div style="margin: auto; text-align: center">
        <input type="file" id="file" name="file" style="display:
            inline">
        <input type="submit" value="submit" style="display:
            inline">
    </div>
</form>
